$page-background: #f7f7f7;
$header-background: linear-gradient(to top left, #f9c600, #ffcf14);
$border-color: #f9c600;
$footer-background: #212121;
$footer-color: #f9c600;
$button-background: #09d261;
